<ion-content >
  <ion-content [fullscreen]="true">
<div class="flex-center"> 
  <div class="container">
    <img src="/assets/icon/clip.jpg">
      <div style="text-align: center !important;" >
      <h2>ATTENDANCE </h2>
      <h2> MONITORING APP</h2>


      <h6>An application wherein professors can see the list of students’ name and even update students’ details. The main purpose or this system is to monitor the progress and attendance of every student in school or during distance leaning.</h6>
    <div style="text-align: center !important;" >
  <ion-card-content> 
    <ion-button color="medium" expand="block" shape="round" (click)="openLogin1()">S T A R T</ion-button> 
  </ion-card-content> 
</div>
</div>
</div>  
</div>
