<ion-content [fullscreen]="true">
  <ion-icon routerLink="/dashboard" size="large"name="caret-back-outline"></ion-icon>       

<ion-toolbar>
  <ion-buttons slot ="end">
    <ion-button (click)="save1()">Save</ion-button>
  </ion-buttons>
  <ion-title> 
    LIST
  </ion-title>

</ion-toolbar>
  <div class="container">
    <img src="/assets/icon/atten.jpg">


    
    <ion-card>
      <ion-grid>
          <ion-row class="ion-text-center">
              <ion-col size="3">
                  <p size="medium">STUDENT</p>
              </ion-col>
              <ion-col size="3">
                  <p>Face to Face Class</p>
              </ion-col>
              <ion-col size="3">
                  <p>Online Class</p>
              </ion-col>
              <ion-col size="3">
                <p>Class Status</p>
            </ion-col>
          </ion-row>
      </ion-grid>
  </ion-card>
  
  <ion-card>
    <ion-grid>
            <ion-col size="3">
                <p size="medium">&nbsp;&nbsp;Carl Mabini &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type ="checkbox">  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type ="checkbox">  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type ="checkbox"> </p>
            </ion-col>
</ion-grid>
</ion-card>